/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* typography */

body {
    font-family: 'Fredoka', sans-serif;
}

/* header */

h1 {
    color: #e53170;
    margin: 50px;
}

h1+p {
    margin-bottom: 50px;
}

header {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

/* main  */

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.team>.card {
    width: calc(100% / 3 - 40px);
    margin: 20px;
    color: white;
    background-color: #0f0e17;
    float: left;
    box-shadow: 5px 5px 5px 5px grey;
}

.foto {
    width: 100px;
    float: left;
}

.info {
    font-size: 15px;
    width: calc(100% - 100px);
    float: right;
    padding: 10px;
}

.foto img {
    width: 100%;
    display: block;
}

.info a {
    color: #6ecbf2;
    text-decoration: none;
}

.job {
    margin: 10px 0;
}